In [1]:
import pandas as pd
import numpy as np

## dataframe 里的值 tolist()
* Use .values to get a numpy.array and then .tolist() to get a list.

In [7]:
df_list = pd.DataFrame({'a':[1,3,5,7,4,5,6,4,7,8,9],
                   'b':[3,5,6,2,4,6,7,8,7,8,9]})
print('df_list 数据结构：')
print(df_list)

# tolist()
list_demo = df_list['a'].values.tolist()
# list_demo = df_list['a'].tolist()
print('将a列数据变成list数据结构')
print(list_demo)

df_list 数据结构：
    a  b
0   1  3
1   3  5
2   5  6
3   7  2
4   4  4
5   5  6
6   6  7
7   4  8
8   7  7
9   8  8
10  9  9
将a列数据变成list数据结构
[1L, 3L, 5L, 7L, 4L, 5L, 6L, 4L, 7L, 8L, 9L]

### To drop duplicates

In [12]:
df_list = pd.DataFrame({'a':[1,3,5,7,4,5,6,4,7,8,9],
                   'b':[3,5,6,2,4,6,7,8,7,8,9]})
# numpy narray type
del_duplicates = df_list['a'].drop_duplicates().values
print(del_duplicates)
# list type
del_duplicates_list = df_list['a'].drop_duplicates().values.tolist()
print(del_duplicates_list)

[1 3 5 7 4 6 8 9]
[1L, 3L, 5L, 7L, 4L, 6L, 8L, 9L]

### groupby

In [14]:
df_group = pd.DataFrame(
            {  'key1':['a','a','b','b','a'],
               'key2':['one','two','one','two','one'],
               'data1':np.random.randn(5),
               'data2':np.random.randn(5)
            }
        )
print('原始数据：')
print(df_group)
print('====分组数据====')

df_group_by_col = df_group.groupby(df_group['key1'])
print(df_group_by_col)
for gn, gd in df_group_by_col:
    print(gn)
    print('--------------')
    print(gd)
    
''' 对索引进行处理分组
df11 = df.groupby(lambda x:'even' if x%2==0 else 'odd')
print df['data1'].tolist()
for i,j in df11:
    print i
    print '----------------'
    print j
'''

原始数据：
      data1     data2 key1 key2
0 -0.496832 -0.364945    a  one
1  1.119169  1.917241    a  two
2 -0.919731  0.147975    b  one
3 -1.009562  0.278963    b  two
4 -0.195324  1.805608    a  one
====分组数据====
<pandas.core.groupby.DataFrameGroupBy object at 0x0000000008C7CDD8>
a
--------------
      data1     data2 key1 key2
0 -0.496832 -0.364945    a  one
1  1.119169  1.917241    a  two
4 -0.195324  1.805608    a  one
b
--------------
      data1     data2 key1 key2
2 -0.919731  0.147975    b  one
3 -1.009562  0.278963    b  two

### transform 
* transform(func, *args, **kwargs) 方法会把 func 参数应用到所有分组，然后把结果放置到原数组的 index 上

In [15]:
# transform transform(func, *args, **kwargs) 方法简化了这个过程，它会把 func 参数应用到所有分组，然后把结果放置到原数组的 index 上
df_transform = pd.DataFrame(
            {  'key1':['a','a','b','b','a'],
               'key2':['one','two','one','two','one'],
               'data1':np.random.randn(5),
               'data2':np.random.randn(5)
            }
        )

df_trans_group = df_transform.groupby('key1').transform('mean')
print(df_trans_group)

      data1     data2
0  0.207448  1.480348
1  0.207448  1.480348
2 -0.006599  1.530958
3 -0.006599  1.530958
4  0.207448  1.480348

In [2]:
import pandas as pd
import numpy as np

d = pd.Period('2011-01')
print d
# 连乘
a = np.array([1,2,4])
print a.cumprod()[-1]

# dataframe
aa={'one':[1,2,3],'two':[2,3,4],'three':[3,4,5]}
aa_df = pd.DataFrame(aa)
print aa_df

# dataframe values 类型 及 取值
value = aa_df.values
print type(value[0])
print value[0][1]
# 通过iloc定位取值
v1 = aa_df.one.iloc[0]
print v1 + 1
# where 条件获得新的dataframe
te = aa_df[aa_df.two == 2]
print te
print type(te)
print te.two.iloc[0]

2011-01
8
   one  three  two
0    1      3    2
1    2      4    3
2    3      5    4
<type 'numpy.ndarray'>
3
2
   one  three  two
0    1      3    2
<class 'pandas.core.frame.DataFrame'>
2

In [1]:
import pandas as pd

d = pd.Period('2011-01')
print d

import numpy as np

a = np.array([1,2,4])
print a.cumprod()[-1]

aa={'one':[1,2,3],'two':[2,3,4],'three':[3,4,5]}
aa_df = pd.DataFrame(aa)
print aa_df
value = aa_df.values
print type(value[0])
print value[0][1]
v1 = aa_df.one.iloc[0]
print v1 + 2

te = aa_df[aa_df.two == 2]
print te
print type(te)
print te.two.iloc[0]

2011-01
8
   one  three  two
0    1      3    2
1    2      4    3
2    3      5    4
<type 'numpy.ndarray'>
3
3
   one  three  two
0    1      3    2
<class 'pandas.core.frame.DataFrame'>
2

In [2]:
import pandas as pd

a = {'type':['a','b','c','a','c'],'value':[1,2,4,5,6],'per':[.3,.2,.5,.2,.7]}
df = pd.DataFrame(a)
df

   per type  value
0  0.3    a      1
1  0.2    b      2
2  0.5    c      4
3  0.2    a      5
4  0.7    c      6

In [3]:
d1 = df.drop_duplicates(['type'])
d1

   per type  value
0  0.3    a      1
1  0.2    b      2
2  0.5    c      4

In [4]:
d2 = df.drop_duplicates('type')
d2

   per type  value
0  0.3    a      1
1  0.2    b      2
2  0.5    c      4

In [5]:
dd = df['type'].rank(method='min', ascending=True)
dd1 = df['value'].rank(method='min', pct=True, ascending=True)
df['rank'] = dd
df['r1'] = dd1
df

   per type  value  rank   r1
0  0.3    a      1   1.0  0.2
1  0.2    b      2   3.0  0.4
2  0.5    c      4   4.0  0.6
3  0.2    a      5   1.0  0.8
4  0.7    c      6   4.0  1.0

In [6]:
dfg = df.groupby('type')
print dfg['type'].head()
for i, d in dfg:
    print i
    print d

0    a
1    b
2    c
3    a
4    c
Name: type, dtype: object
a
   per type  value  rank   r1
0  0.3    a      1   1.0  0.2
3  0.2    a      5   1.0  0.8
b
   per type  value  rank   r1
1  0.2    b      2   3.0  0.4
c
   per type  value  rank   r1
2  0.5    c      4   4.0  0.6
4  0.7    c      6   4.0  1.0

In [7]:
dfgg = df.groupby('type')['per', 'value'].sum()
print dfgg
print dfgg.index.values.tolist()

      per  value
type
a     0.5      6
b     0.2      2
c     1.2     10
['a', 'b', 'c']

In [8]:
dfgg = df.groupby('type')['per', 'value'].mean()
print dfgg
print dfgg.index.values.tolist()

       per  value
type
a     0.25      3
b     0.20      2
c     0.60      5
['a', 'b', 'c']

In [9]:
dft = pd.DataFrame([ pd.Timestamp('20010101'), pd.Timestamp('20040601') ], columns=['age'])
print(dft)

dft['today'] = pd.Timestamp('20170830')
dft['diffd'] = (dft['today'] - dft['age'])
dft['diffdd'] = (dft['today'] - dft['age']).astype('timedelta64[D]')
dft['diffm'] = (dft['today'] - dft['age']).astype('timedelta64[M]')
dft['diffy'] = (dft['today'] - dft['age']).astype('timedelta64[Y]')
dft

         age
0 2001-01-01
1 2004-06-01

         age      today     diffd  diffdd  diffm  diffy
0 2001-01-01 2017-08-30 6085 days  6085.0  199.0   16.0
1 2004-06-01 2017-08-30 4838 days  4838.0  158.0   13.0